@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  .tooltip {
    opacity: 0;
    transition: opacity 0.3s 1s;
  }
  &:hover {
    .tooltip {
      opacity: 100%;
      transition: opacity 0.3s;
    }
  }
}

.tooltip {
  animation: fadein 1s;
  opacity: 0;
}

.tooltip:hover {
  opacity: 100%;
  transition: opacity 1s;
}
