.inputWrapper {
  position: relative;
  .inputMask {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:focus-within {
    .inputMask {
      display: none;
    }
  }
  &:not(:focus-within) {
    .input {
      color: transparent;
      position: relative;
    }
  }
}
